$primary-font-family: 'Google Sans', 'GoogleSans', 'Product Sans', 'Open Sans', 'Verdana', sans-serif
$text-font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif

$theme-background-light: #ffffff
$theme-background-dark: #000000

$theme-foreground-light: #060606
$theme-foreground-light-80: adjust-color($theme-foreground-light, $alpha: -0.2)
$theme-foreground-light-60: adjust-color($theme-foreground-light, $alpha: -0.4)
$theme-foreground-light-40: adjust-color($theme-foreground-light, $alpha: -0.6)
$theme-foreground-light-20: adjust-color($theme-foreground-light, $alpha: -0.8)
$theme-foreground-dark: #fafafa
$theme-foreground-dark-80: adjust-color($theme-foreground-dark, $alpha: -0.2)
$theme-foreground-dark-60: adjust-color($theme-foreground-dark, $alpha: -0.4)
$theme-foreground-dark-40: adjust-color($theme-foreground-dark, $alpha: -0.6)
$theme-foreground-dark-20: adjust-color($theme-foreground-dark, $alpha: -0.8)

$xos-color: #00B4E7

$material-blue-dark: #2196F3
$material-blue-light: #1976D2
$material-blue-900: #0D47A1

$theme-accent-light: $material-blue-light
$theme-accent-dark: #212121
$theme-accent-darker: #060606
